In [1]:
import numpy as np
import pandas as pd

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_csv("C:\\Users\\Shree Com\\Desktop\\Data\\customer.csv")

In [4]:
df

    age  gender   review education purchased
0    30  Female  Average    School        No
1    68  Female     Poor        UG        No
2    70  Female     Good        PG        No
3    72  Female     Good        PG        No
4    16  Female  Average        UG        No
5    31  Female  Average    School       Yes
6    18    Male     Good    School        No
7    60  Female     Poor    School       Yes
8    65  Female  Average        UG        No
9    74    Male     Good        UG       Yes
10   98  Female     Good        UG       Yes
11   74    Male     Good        UG       Yes
12   51    Male     Poor    School        No
13   57  Female  Average    School        No
14   15    Male     Poor        PG       Yes
15   75    Male     Poor        UG        No
16   59    Male     Poor        UG       Yes
17   22  Female     Poor        UG       Yes
18   19    Male     Good    School        No
19   97    Male     Poor        PG       Yes
20   57  Female  Average    School       Yes
21   32    Male  Average        PG        No
22   18  Female     Poor        PG       Yes
23   96  Female     Good    School        No
24   16  Female  Average        PG       Yes
25   57  Female     Good    School        No
26   53  Female     Poor        PG        No
27   69  Female     Poor        PG        No
28   48    Male     Poor    School        No
29   83  Female  Average        UG       Yes
30   73    Male  Average        UG        No
31   22  Female     Poor    School       Yes
32   92    Male  Average        UG       Yes
33   89  Female     Good        PG       Yes
34   86    Male  Average    School        No
35   74    Male     Poor    School       Yes
36   34  Female     Good        UG       Yes
37   94    Male  Average        PG       Yes
38   45  Female     Good    School        No
39   76    Male     Poor        PG        No
40   39    Male     Good    School        No
41   23    Male     Good        PG       Yes
42   30  Female     Good        PG       Yes
43   27    Male     Poor        PG        No
44   77  Female  Average        UG        No
45   61    Male     Poor        PG       Yes
46   64  Female     Poor        PG        No
47   38  Female     Good        PG       Yes
48   39  Female     Good        UG       Yes
49   25  Female     Good        UG        No

In [5]:
df=df.iloc[:,2:]

In [6]:
df.head(4)

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No

In [7]:
df["review"].value_counts()

Poor       18
Good       18
Average    14
Name: review, dtype: int64

In [8]:
df["education"].value_counts()

PG        18
School    16
UG        16
Name: education, dtype: int64

In [9]:
df["purchased"].value_counts()

No     26
Yes    24
Name: purchased, dtype: int64

In [10]:
x=df.drop(columns=["purchased"])

In [11]:
y=df["purchased"]

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [14]:
x.shape

(50, 2)

In [15]:
x_train.shape

(40, 2)

In [16]:
x_test.shape

(10, 2)

# Ordinal Encoding

In [46]:
from sklearn.preprocessing import OrdinalEncoder

In [18]:
oe=OrdinalEncoder(categories=[["Poor","Average","Good"],["School","UG","PG"]])

In [19]:
x_train_new=oe.fit_transform(x_train)

In [20]:
x_train_new

array([[2., 0.],
       [1., 1.],
       [2., 0.],
       [0., 2.],
       [2., 0.],
       [0., 1.],
       [0., 2.],
       [2., 2.],
       [0., 2.],
       [0., 2.],
       [0., 2.],
       [0., 0.],
       [1., 2.],
       [2., 2.],
       [1., 1.],
       [1., 2.],
       [1., 1.],
       [1., 0.],
       [2., 0.],
       [1., 1.],
       [1., 2.],
       [0., 0.],
       [0., 1.],
       [1., 1.],
       [0., 0.],
       [0., 2.],
       [0., 0.],
       [1., 0.],
       [1., 0.],
       [2., 1.],
       [2., 2.],
       [2., 2.],
       [2., 0.],
       [2., 2.],
       [0., 1.],
       [1., 0.],
       [2., 1.],
       [1., 0.],
       [2., 2.],
       [2., 1.]])

In [21]:
x_train

     review education
40     Good    School
44  Average        UG
23     Good    School
39     Poor        PG
6      Good    School
16     Poor        UG
14     Poor        PG
3      Good        PG
45     Poor        PG
22     Poor        PG
43     Poor        PG
35     Poor    School
37  Average        PG
2      Good        PG
8   Average        UG
24  Average        PG
4   Average        UG
34  Average    School
25     Good    School
32  Average        UG
21  Average        PG
31     Poor    School
1      Poor        UG
30  Average        UG
28     Poor    School
46     Poor        PG
12     Poor    School
13  Average    School
20  Average    School
10     Good        UG
47     Good        PG
42     Good        PG
38     Good    School
41     Good        PG
17     Poor        UG
5   Average    School
36     Good        UG
0   Average    School
33     Good        PG
48     Good        UG

# Label Encoding

In [22]:
from sklearn.preprocessing import LabelEncoder

In [23]:
le=LabelEncoder()

In [24]:
y_train_new=le.fit_transform(y_train)

In [25]:
y_train_new

array([0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1])

In [26]:
y_train

40     No
44     No
23     No
39     No
6      No
16    Yes
14    Yes
3      No
45    Yes
22    Yes
43     No
35    Yes
37    Yes
2      No
8      No
24    Yes
4      No
34     No
25     No
32    Yes
21     No
31    Yes
1      No
30     No
28     No
46     No
12     No
13     No
20    Yes
10    Yes
47    Yes
42    Yes
38     No
41    Yes
17    Yes
5     Yes
36    Yes
0      No
33    Yes
48    Yes
Name: purchased, dtype: object

In [27]:
x=df["review"]

In [28]:
x_new=le.fit_transform(x)

In [29]:
x_new

array([0, 2, 1, 1, 0, 0, 1, 2, 0, 1, 1, 1, 2, 0, 2, 2, 2, 2, 1, 2, 0, 0,
       2, 1, 0, 1, 2, 2, 2, 0, 0, 2, 0, 1, 0, 2, 1, 0, 1, 2, 1, 1, 1, 2,
       0, 2, 2, 1, 1, 1])

In [55]:
df=pd.read_csv("C:\\Users\\Shree Com\\Desktop\\Data\\customer.csv")

In [57]:
df=df.drop(columns=['age', 'review', 'education', 'purchased'])

In [59]:
df.head(5)

   gender
0  Female
1  Female
2  Female
3  Female
4  Female

In [61]:
from sklearn.preprocessing import OneHotEncoder

In [62]:
ohe=OneHotEncoder(sparse=False)

In [63]:
df_new=ohe.fit_transform(df)

In [64]:
df_new

array([[1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.]])